:root {
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--color-black);
}

#ads {
    width: calc(100% - 20%);
    height: 200px;
    margin: auto;
    background-color: red;
}

nav {
    width: 100%;
    height: 50px;
    background-color: cyan;
}

#slideShow {
    width: 100%;
    height: 650px;
    background-color: orange;
}