:root {
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--color-black);
}

#ads {
    width: calc(100% - 20%);
    height: 200px;
    margin: auto;
    background-color: red;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: cyan;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav {
    display: none;
}

#slideShow {
    width: 100%;
    height: 650px;
    background-color: orange;
}

/* humberger icon start*/
/* Container for the menu icon */
.menu-btn {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 30px;
    position: relative;
    transform: translate(10px, 10px);
}

/* The bars */
.menu-btn span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #333;
    border-radius: 2px;
    transition: 0.4s;
}

/* Position each bar */
.menu-btn span:nth-child(1) {
    top: 0;
}

.menu-btn span:nth-child(2) {
    top: 13px;
}

.menu-btn span:nth-child(3) {
    bottom: 0;
}

/* Toggle effect when active */
.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 13px;
}

/* humberger icon end */

.brand {
    width: 200px;
    height: 80%;
    background-color: red;
}

.brand img {
    width: 100%;
    height: 100%;
}